<div class="container mt-5">

  <form class="form-signin border border-secondary rounded p-4 m-auto" action="/signup" method="POST" style="width: 50%; background-color: rgb(26, 21, 48);">
    <div class="text-center mb-4">
      <h3 class="mb-3 font-weight-normal text-white">使用者註冊</h3>
    </div>
    <div class="text-center">
      {{#if error_messages}}
      <div class="alert alert-danger" role="alert" style="margin: 5px 0 ;">{{error_messages}}</div>
      {{/if}}
      {{#if success_messages}}
      <div class="alert alert-success" role="alert" style="margin: 5px 0 ;">{{success_messages}}</div>
      {{/if}}
    </div>
    <div class="form-label-group text-white">
      <label for="inputName">使用者</label>
      <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
    </div>
    <div class="form-label-group text-white mt-4">
      <label for="inputPassword">使用權限 (0 遊覽、1 管理者、2 維護者、3 一般使用者)</label>
      <input type="number" name="permissionLevel" class="form-control" placeholder="permissionLevel" min="0" max="3" required>
    </div>
    <br />
    <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
  </form>

</div>