<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>明盛公司產品庫存</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body style="background-color: rgb(19, 19, 19);">

  <head class="container-fluid">
    {{!-- nav bar --}}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(36, 36, 36);">
      <a class="navbar-brand" style="font-weight: bold;" href="/">
        <h2>明盛公司</h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/warehouse">倉庫</a>
          </li>
          {{#ifCond user.permissionLevel 1}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">管理清單</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/manager/customers">発注人</a>
              <a class="dropdown-item" href="/manager/partnumbers">部品</a>
              <a class="dropdown-item" href="#">出入庫歷史清單</a> {{!--路由尚未開始--}}
            </div>
          </li>
          {{else ifCond user.permissionLevel 2}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">管理清單</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/manager/customers">発注人</a>
              <a class="dropdown-item" href="/manager/partnumbers">部品</a>
            </div>
          </li>
          {{/ifCond}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">其它</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/user/password">變更密碼</a>
              {{#if user.isAdmin}}
              <a class="dropdown-item" href="/admin/signup">註冊使用者</a>
              {{/if}}
            </div>
          </li>
          {{/if}}
        </ul>
      </div>
      {{#if user}}
      <a href="/logout"><button class="btn btn-outline-danger my-2 my-sm-0">登出</button></a>
      {{/if}}
    </nav>
  </head>

  {{{ body }}}


  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/popper.js"></script>
</body>

</html>