<div class="d-flex  flex-wrap">

  <a class="text-white" style="text-decoration: none;" href="">
    <div class="card mb-3 mx-1 text-white" style="width: 540px; background-color: rgb(26, 21, 48);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">台弟</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a class="text-white" style="text-decoration: none;" href="">
    <div class="card mb-3 mx-1 text-white" style="width: 540px; background-color: rgb(26, 21, 48);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">中陽</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a class="text-white" style="text-decoration: none;" href="">
    <div class="card mb-3 mx-1 text-white" style="width: 540px; background-color: rgb(26, 21, 48);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">安國</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a class="text-white" style="text-decoration: none;" href="">
    <div class="card mb-3 mx-1 text-white" style="width: 540px; background-color: rgb(26, 21, 48);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>

</div>