<div class="d-flex">
  <div class="card mr-3 mb-3" style="width: 18rem; background-color: rgb(0, 255, 98);">
    <div class="card-header">入庫</div>
    <div class="card-body">
      <p class="card-text">就是入庫</p>
    </div>
  </div>
  <div class="card mr-3 mb-3" style="width: 18rem;  background-color: rgb(0, 255, 98);">
    <div class="card-header">出貨</div>
    <div class="card-body">
      <p class="card-text">就是入庫</p>
    </div>
  </div>
  <div class="card mr-3 mb-3" style="width: 18rem;  background-color: rgb(0, 255, 98);">
    <div class="card-header">紀錄查詢</div>
    <div class="card-body">
      <p class="card-text">就是紀錄查詢</p>
    </div>
  </div>
  <div class="card mr-3 mb-3" style="width: 18rem;  background-color: rgb(0, 255, 98);">
    <div class="card-header">其它</div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
  </div>
</div>