<div class="container-fluid p-0">

  <div class="container text-center mt-5">
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert" style="margin: 5px 0 ;">{{error_messages}}</div>
    {{/if}}
  </div>

  <div class="d-flex justify-content-around mt-5">

    <div class="mt-5" style="flex-basis: 50%;">

      <div class="d-flex justify-content-center">
        <a class="btn mx-3 bg-info text-white" style="width: 18rem;" href="/warehouse/warehousing">
          <div class="card-header">入庫</div>
          <div class="card-body">
            <p class="card-text">就是入庫</p>
          </div>
        </a>
        <a class="btn mx-3 bg-info text-white" style="width: 18rem;" href="/warehouse/shipping">
          <div class="card-header">出庫</div>
          <div class="card-body">
            <p class="card-text">就是出庫</p>
          </div>
        </a>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <a class="btn mx-3 bg-info text-white" style="width: 18rem;" href="/warehouse">
          <div class="card-header">瀏覽在庫</div>
          <div class="card-body">
            <p class="card-text">就是瀏覽在庫</p>
          </div>
        </a>
        <a class="btn mx-3 bg-info text-white" style="width: 18rem;">
          <div class="card-header">紀錄查詢</div>
          <div class="card-body">
            <p class="card-text">就是紀錄查詢</p>
          </div>
        </a>
      </div>

    </div>



    <div style="flex-grow: 1;">
      <div class="m-auto" style="max-width: 90%;">
        <h3 class="text-warning">近期動作</h3>
        <table class="m-auto text-white border border-secondary" style="width: 100%">
          <tr class="border border-secondary" style="background-color: rgb(0, 15, 146);">
            <th>日期</th>
            <th>発注人</th>
            <th>部品番號</th>
            <th>入庫</th>
            <th>出庫</th>
            <th>備註</th>
            <th>在庫數</th>
          </tr>
          <tr>
            <td>施工中...</td>
          </tr>
          {{!-- <tr class="border border-secondary">
            <td>01/15</td>
            <td>XC1234001</td>
            <td class="text-warning">25</td>
            <td></td>
            <td></td>
            <td>餘數: 25</td>
          </tr>
          <tr class="border border-secondary">
            <td>01/16</td>
            <td>XC1234001</td>
            <td></td>
            <td class="text-success">100</td>
            <td></td>
            <td>餘數: 0</td>
          </tr> --}}
        </table>
      </div>
    </div>

  </div>

</div>