<div class="container mt-5">

  <form class="form-signin border border-secondary rounded p-4 m-auto" action="/password/{{user.id}}?_method=PUT" method="POST" style="width: 50%; background-color: rgb(26, 21, 48);">
    <div class="text-center mb-4">
      <h3 class="mb-3 font-weight-normal text-white">變更密碼</h3>
    </div>
    <div class="text-center">
      {{#if error_messages}}
      <div class="alert alert-danger" role="alert" style="margin: 5px 0 ;">
        {{error_messages}}
      </div>
      {{/if}}
    </div>
    <div class="form-label-group text-white">
      <label for="inputName">User</label>
      <input type="text" name="name" class="form-control bg-secondary" placeholder="name" value="{{user.name}}" readonly required autofocus>
    </div>
    <div class="form-label-group text-white mt-4">
      <label for="inputPassword">原來密碼</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-label-group text-white mt-4">
      <label for="inputPassword">新的密碼</label>
      <input type="password" name="newPassword" class="form-control" placeholder="New Password" required>
    </div>
    <div class="form-label-group text-white mt-4">
      <label for="inputPassword">確認新的密碼</label>
      <input type="password" name="newPasswordCheck" class="form-control" placeholder="New Password Check" required>
    </div>
    <br />
    <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
  </form>

</div>