<div class="container mt-5">
  <form class="border border-secondary rounded p-4 m-auto" action="/warehouse/warehousing" method="post" style="width: 50%; background-color: rgb(26, 21, 48);">
    <div class="text-center mb-4">
      <h2 class="mb-3 font-weight-normal text-white">部品入庫</h2>
      {{#if error_messages}}
      <div class="alert alert-danger" role="alert" style="margin: 5px 0 ;">
        {{error_messages}}
      </div>
      {{/if}}
    </div>
    <div class="form-group text-white">
      <label for="partNum">部品番號</label>
      <input type="text" class="form-control" name="partNum" id="partNum" placeholder="番號">
    </div>

    <div class="form-group text-white">
      <label for="quantity">數量</label>
      <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Enter quantity" min=0>
    </div>
    <br />
    <button type="submit" class="btn btn-lg btn-warning btn-block">入庫</button>
  </form>

</div>