<div class="container-fluid p-0">

  <div class="d-flex flex-row">

    <div class="nav flex-column nav-pills" style="flex-basis: 10%; height:100%; text-align: center; background-color:rgb(49, 39, 92)">
      <div class="nav flex-column mx-2">
        <a class="btn btn-warning mt-2 mb-4" href="/manager/partnumber/create" role="button">+ 新增部品</a>
        <a class="btn btn-info mb-2" href="/Warehousing" role="button">入庫</a>
        <a class="btn btn-success" href="/Shipment" role="button">出貨</a>
      </div>

      <div class="mx-2">
        <h4 class="mt-4 text-white">発注人</h4>
        <a class="nav-link" href="" style="color: rgb(255, 255, 255);">台弟</a>
        <a class="nav-link  active" href="" style="color: rgb(243, 218, 75);">瑞浪</a>
      </div>
    </div>

    <div class="mt-5" style="flex-grow: 1;">
      <div class="mb-3">
        <div class="m-auto text-white border border-white bg-primary rounded-top d-flex justify-content-between p-1" style="max-width: 90%;">
          <h4 class="m-0">部品番號</h4>
          <h4 class="m-0">在庫數</h4>
        </div>
        <div class="m-auto text-white border border-white d-flex justify-content-between p-1" style="max-width: 90%;">
          <p class="m-0"><span class="text-warning" style="cursor: pointer;">-</span> xc545645645</p>
          <p class="m-0">315</p>
        </div>
        <div>
          <div class="m-auto text-white border border-white" style="max-width: 90%;">
            <div class="pl-5 border border-white d-flex justify-content-between bg-info">
              <h5 class="m-0">子部品番號</h5>
              <h5 class="m-0">在庫數</h5>
            </div>
            <div class="pl-5 border border-white d-flex justify-content-between">
              <p class="m-0">xc545645645</p>
              <p class="m-0">516</p>
            </div>
            <div class="pl-5 border border-white d-flex justify-content-between">
              <p class="m-0">sa12313</p>
              <p class="m-0">416</p>
            </div>
            <div class="pl-5 border border-white d-flex justify-content-between">
              <p class="m-0">xs4564561</p>
              <p class="m-0">20</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>